{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}

    <div class="login-container" style="padding: 20px">
        <div id="flash-messages">
            {% for message in app.flashes('error') %}
                <div class="error__block">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <main id="main">
            {% if success == false %}
                <div style="margin: 1em 0">Enter your email address below:</div>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            {% else %}
                <p>Password reset email was successfuly sent to {{ email }}. Please follow instructions in the email to
                    reset password</p>
            {% endif %}
        </main>
    </div>

{% endblock %}
