{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}

    <div id="flash-messages">
        {% for message in app.flashes('error') %}
            <div class="alert alert-error">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <main id="main">
        {{ form_start(registration) }}
        {{ form_row(registration._token) }}
        {{ form_row(registration.email) }}
        {{ form_row(registration.newPassword) }}
        {{ form_row(registration.associate.fullName) }}
        {{ form_row(registration.associate.country) }}
        {{ form_row(registration.associate.address) }}
        {{ form_row(registration.associate.city) }}
        {{ form_row(registration.associate.postcode) }}
        {{ form_row(registration.associate.mobilePhone) }}
        {{ form_row(registration.associate.homePhone) }}
        {{ form_row(registration.associate.agreedToEmailUpdates) }}
        {{ form_row(registration.associate.agreedToTextMessageUpdates) }}
        {{ form_row(registration.associate.agreedToSocialMediaUpdates) }}
        {{ form_row(registration.associate.submit) }}
        {{ form_end(registration, {'render_rest': false}) }}
    </main>

{% endblock %}
