{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    <div class="card__container">
        <div class="card" style="margin: 0 auto; width: 60vw; min-width: 300px">
            <div class="card-content">
                <span class="card-title">Registration</span>
                <div id="flash-messages">
                    {% for message in app.flashes('error') %}
                        <div class="error__block">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <main id="main">
                    {{ form_start(registration) }}
                    {{ form_row(registration._token) }}
                    <div class="input-field">
                        {{ form_label(registration.email) }}
                        {{ form_widget(registration.email) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.email } %}
                    </div>
                    <div class="input-field">
                        {{ form_label(registration.plainPassword) }}
                        {{ form_widget(registration.plainPassword) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.plainPassword } %}
                    </div>
                    <div class="input-field">
                        {{ form_label(registration.associate.fullName) }}
                        {{ form_widget(registration.associate.fullName) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.associate.fullName } %}
                    </div>
                    <div class="input-field">
                        {{ form_label(registration.associate.country) }}
                        {{ form_widget(registration.associate.country) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.associate.country } %}
                    </div>
                    <div class="input-field">
                        {{ form_label(registration.associate.address) }}
                        {{ form_widget(registration.associate.address) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.associate.address } %}
                    </div>
                    <div class="input-field">
                        {{ form_label(registration.associate.city) }}
                        {{ form_widget(registration.associate.city) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.associate.city } %}
                    </div>
                    <div class="input-field">
                        {{ form_label(registration.associate.postcode) }}
                        {{ form_widget(registration.associate.postcode) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.associate.postcode } %}
                    </div>
                    <div class="input-field">
                        {{ form_label(registration.associate.mobilePhone) }}
                        {{ form_widget(registration.associate.mobilePhone) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.associate.mobilePhone } %}
                    </div>
                    <div class="input-field">
                        {{ form_label(registration.associate.homePhone) }}
                        {{ form_widget(registration.associate.homePhone) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.associate.homePhone } %}
                    </div>
                    <div class="input-field">
                        <label style="position: unset!important;">
                            {{ form_widget(registration.associate.agreedToEmailUpdates) }}
                            <span>I agree to receive email updates</span>
                        </label>
                    </div>
                    <div class="input-field">
                        <label style="position: unset!important;">
                            {{ form_widget(registration.associate.agreedToTextMessageUpdates) }}
                            <span>I agree to receive text message updates</span>
                        </label>
                    </div>
                    <div class="input-field">
                        <label style="position: unset!important;">
                            {{ form_widget(registration.associate.agreedToSocialMediaUpdates) }}
                            <span>I agree to receive social media updates</span>
                        </label>
                    </div>
                    <div class="input-field">
                        {{ form_label(registration.associate.profilePicture) }}
                        {{ form_widget(registration.associate.profilePicture) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.associate.profilePicture } %}
                    </div>
                    {% if termsOfServices is not null  %}
                        <a href="{{ termsOfServices|downloadUrlParser }}">Terms Of Services</a>
                    {% endif %}
                    <div class="input-field">
                        {{ form_row(registration.associate.submit) }}
                    </div>
                    {{ form_end(registration, {'render_rest': false}) }}
                </main>
            </div>
        </div>
    </div>

{% endblock %}
