{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    <div class="card__container">
        <div class="card" style="margin: 0 auto; width: 60vw; min-width: 300px">
            <div class="card-content">
                <div class="login-logoContainer">
                    {% set logo = getLogo() %}
                    {% if logo is not null %}
                        <img style="max-width:100%; max-height: 100px" src="{{ logo|downloadUrlParser }}" />
                    {% else%}
                        <img style="max-width:100%; max-height: 100px" src="{{ asset('assets/images/plum_tree_logo.png') }}" />
                    {% endif %}
                </div>
                <span class="card-title">You have been invited by: <b>{{ recruiter.fullName }}</b></span>
                <span class="card-title">To complete your registration, fill in the form bellow:</span>
                <div id="flash-messages">
                    {% for message in app.flashes('error') %}
                        <div class="error__block">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <main id="main registration">
                    {{ form_start(registration) }}
                    {{ form_row(registration._token) }}
                    <div class="input-field registration__input--forceBorder">
                        {{ form_label(registration.associate.fullName) }}
                        {{ form_widget(registration.associate.fullName) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.associate.fullName } %}
                    </div>
                    <div class="input-field registration__input--forceBorder">
                        {{ form_label(registration.email) }}
                        {{ form_widget(registration.email) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.email } %}
                    </div>
                    <div class="input-field registration__input--forceBorder">
                        {{ form_label(registration.plainPassword.first) }}
                        {{ form_widget(registration.plainPassword.first) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.plainPassword.first } %}
                    </div>
                    <div class="input-field registration__input--forceBorder">
                        {{ form_label(registration.plainPassword.second) }}
                        {{ form_widget(registration.plainPassword.second) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.plainPassword.second } %}
                    </div>
                    <div class="input-field registration__input--forceBorder">
                        {{ form_label(registration.associate.address) }}
                        {{ form_widget(registration.associate.address) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.associate.address } %}
                    </div>
                    <div class="input-field registration__input--forceBorder">
                        {{ form_label(registration.associate.address2) }}
                        {{ form_widget(registration.associate.address2) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.associate.address2 } %}
                    </div>
                    <div class="input-field registration__input--forceBorder">
                        {{ form_label(registration.associate.city) }}
                        {{ form_widget(registration.associate.city) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.associate.city } %}
                    </div>
                    <div class="input-field registration__input--forceBorder">
                        {{ form_label(registration.associate.postcode) }}
                        {{ form_widget(registration.associate.postcode) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.associate.postcode } %}
                    </div>
                    <div class="input-field registration__input--forceBorder registration__input--forceSelectDisplay">
                        {{ form_label(registration.associate.country) }}
                        {{ form_widget(registration.associate.country) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.associate.country } %}
                    </div>
                    <div class="input-field registration__input--forceBorder">
                        {{ form_label(registration.associate.dateOfBirth, null, {'label_attr': {'class': 'required'}}) }}
                        <input type="text" class="datepicker" id="user_registration_associate_dateOfBirth" name="user_registration[associate][dateOfBirth]">
                        {% include 'includes/errorBlock.html.twig' with { field: registration.associate.dateOfBirth } %}
                    </div>
                    <div class="input-field registration__input--forceBorder">
                        {{ form_label(registration.associate.mobilePhone) }}
                        {{ form_widget(registration.associate.mobilePhone) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.associate.mobilePhone } %}
                    </div>
                    <div class="input-field registration__input--forceBorder">
                        {{ form_label(registration.associate.homePhone) }}
                        {{ form_widget(registration.associate.homePhone) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.associate.homePhone } %}
                    </div>
                    <div class="input-field">
                        <label style="position: unset!important;">
                            {{ form_widget(registration.associate.agreedToEmailUpdates) }}
                            <span>I agree to receive email updates</span>
                        </label>
                    </div>
                    <div class="input-field">
                        <label style="position: unset!important;">
                            {{ form_widget(registration.associate.agreedToTextMessageUpdates) }}
                            <span>I agree to receive text message updates</span>
                        </label>
                    </div>
                    <div class="input-field">
                        <label style="position: unset!important;">
                            {{ form_widget(registration.associate.agreedToSocialMediaUpdates) }}
                            <span>I agree to receive social media updates</span>
                        </label>
                    </div>
                    {% if termsOfServices is not null  %}
                        <a href="{{ termsOfServices|downloadUrlParser }}">Terms Of Services</a>
                    {% endif %}
                    <div class="input-field">
                        <label class="required" style="position: unset!important;">
                            {{ form_widget(registration.associate.agreedToTermsOfService) }}
                            <span>I agree to the terms of service</span>
                        </label>
                    </div>
                    <div class="input-field">
                        {{ form_label(registration.associate.profilePicture) }}
                        {{ form_widget(registration.associate.profilePicture) }}
                        {% include 'includes/errorBlock.html.twig' with { field: registration.associate.profilePicture } %}
                    </div>
                    <div class="input-field">
                        {{ form_row(registration.associate.submit) }}
                    </div>
                    {{ form_errors(registration) }}
                    {{ form_end(registration, {'render_rest': false}) }}
                </main>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.datepicker').datepicker({
                yearRange: [1900, ((new Date()).getFullYear())],
                defaultDate: new Date('1980')
            });
        });
    </script>
{% endblock %}
