{% extends 'bodyBase.html.twig' %}

{% block title %}Associate{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/clipboard.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="admin-contentContainer">
        <div class="card">
            <div class="card-content">
                <span class="card-title">My Team</span>
                <div class="associate-buttonContainer">
                    <a
                            class="waves-effect waves-light btn-large"
                            style="width:45%; background-color:#3ab54a; flex:1"
                            href="{{ path('associate_invite') }}">
                        Invite Associate
                    </a>
                    <a
                            class="waves-effect waves-light btn-large"
                            style="margin-left:5%; width:45%; background-color:#3ab54a; flex:1"
                            href="{{ path('team_viewer') }}"
                    >
                        My Team Viewer
                    </a>
                </div>
                {% include 'includes/other/businessShape.html.twig' %}
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Invitation link</span>
                {% verbatim %}
                <div id="clip-board"></div>
                {% endverbatim %}
            </div>
        </div>
        {% if parent is not null %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">My Enroller</span>
                    <div style="display: flex; justify-content: center; flex-direction: row; align-items: center">
                        <div class="associate-enrollerPictureContainer sidebarProfile__pictureContainer">
                            {% if parent.profilePicture is not null %}
                                <img class="associate-enrollerPicture sidebar-picture" src="{{ parent.profilePicture|downloadUrlParser }}" />
                            {% else %}
                                <img class="associate-enrollerPicture sidebar-picture" src="{{ asset('assets/images/profile.jpg') }}" />
                            {% endif %}
                        </div>
                        <div class="associate-enrollerDetailsContainer" style="padding-left:0.5em">
                            <p><b>Email</b>: {{ parent.email }}</p>
                            <p><b>Full name</b>: {{ parent.fullName }}</p>
                            <p><b>Mobile phone</b>:
                                {% if parent.mobilePhone == '' %}
                                    -
                                {% else %}
                                    {{ parent.mobilePhone }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">My Direct Downline</span>
                <table>
                    <thead>
                    <tr>
                        <th style="max-width:50px">Name</th>
                        <th style="max-width:50px">Email</th>
                        <th style="max-width:50px">Mobile Phone</th>
                        <th style="max-width:50px">Join Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if directAssociates is empty %}
                        <tr><td colspan="4">You do not have any associates in your direct downline</td></tr>
                    {% endif %}
                    {% for associate in directAssociates %}
                        <tr>
                            <td style="max-width:50px; overflow-wrap: break-word">{{ associate.fullName }}</td>
                            <td style="max-width:50px; overflow-wrap: break-word">{{ associate.email }}</td>
                            <td style="max-width:50px; overflow-wrap: break-word">
                                {% if associate.mobilePhone == '' %}
                                    -
                                {% else %}
                                    {{ associate.mobilePhone }}
                                {% endif %}
                            </td>
                            <td style="max-width:50px; overflow-x: hidden">
                                {{ associate.joinDate|date('d-m-Y') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent }}
    <script type="text/javascript" src="{{ asset('build/clipboard.js') }}"></script>
{% endblock %}
{#
        {% if profilePicture is not null %}
            <img style="max-width: 200px; max-height: 200px" src="{{ profilePicture|downloadUrlParser }}" />
        {% else%}
            <img style="max-width: 100px; max-height: 100px"
                 src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" />
        {% endif %}
#}