{% extends 'bodyBase.html.twig' %}

{% block title %}Associate{% endblock %}


{% block content %}
    <main>
        <div class="associate-contentContainer">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">My Team</span>
                    <div class="associate-buttonContainer">
                        <a
                                class="waves-effect waves-light btn-large"
                                style="width:45%; background-color:#3ab54a"
                                href="{{ path('associate_invite') }}">
                            Invite Associate
                        </a>
                        <a
                                class="waves-effect waves-light btn-large"
                                style="margin-left:5%; width:45%; background-color:#3ab54a"
                                href="{{ path('team_viewer') }}"
                        >
                            My Team Viewer
                        </a>
                    </div>
                    <div class="associate-levelConainer">
                        <ul class="associate-levelBarList">
                            {% if associatesInLevels is not empty %}
                                {% set maxLevel = max(associatesInLevels) %}
                                {% for key, associateCount in associatesInLevels %}
                                    <li class="associate-levelBarListItem" style="list-style-type:none;">
                                        <div class="associate-levelBar" style="width:{{ associateCount*100/maxLevel }}%">
                                            Level {{ key }}: <strong>{{ associateCount }}</strong>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% if parent is not null %}
            <div class="associate-contentContainer">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">My Enroller</span>
                        <div style="display: flex; justify-content: center; flex-direction: row; align-items: center">
                            <div class="associate-enrollerPictureContainer sidebarProfile__pictureContainer">
                                {% if parent.profilePicture is not null %}
                                    <img class="associate-enrollerPicture sidebar-picture" src="{{ parent.profilePicture|downloadUrlParser }}" />
                                {% else %}
                                    <img class="associate-enrollerPicture sidebar-picture" src="{{ asset('assets/images/profile.jpg') }}" />
                                {% endif %}
                            </div>
                            <div class="associate-enrollerDetailsContainer" style="padding-left:0.5em">
                                <p><b>Email</b>: {{ parent.email }}</p>
                                <p><b>Full name</b>: {{ parent.fullName }}</p>
                                <p><b>Mobile phone</b>:
                                    {% if parent.mobilePhone == '' %}
                                        -
                                    {% else %}
                                        {{ parent.mobilePhone }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="associate-contentContainer">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">My Direct Downline</span>
                    <table>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile Phone</th>
                            <th>Join Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if directAssociates is empty %}
                            <tr><td colspan="4">You do not have any associates in your direct downline</td></tr>
                        {% endif %}
                        {% for associate in directAssociates %}
                            <tr>
                                <td>{{ associate.fullName }}</td>
                                <td>{{ associate.email }}</td>
                                <td>
                                    {% if associate.mobilePhone == '' %}
                                        -
                                    {% else %}
                                        {{ associate.mobilePhone }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ associate.joinDate|date('d-m-Y') }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{#
        {% if profilePicture is not null %}
            <img style="max-width: 200px; max-height: 200px" src="{{ profilePicture|downloadUrlParser }}" />
        {% else%}
            <img style="max-width: 100px; max-height: 100px"
                 src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" />
        {% endif %}
#}