{% extends 'base.html.twig' %}

{% block title %}Associate{% endblock %}

{% block body %}
    <main>

        <ul>
            {% for key, associateCount in associatesInLevels %}
                <li style="list-style-type:none;">Level {{ key }}: <strong>{{ associateCount }}</strong></li>
            {% endfor %}
        </ul>

        <div>
            <h2>My enroller</h2>
            <p>Email: {{ parent.email }}</p>
            <p>Full name: {{ parent.fullName }}</p>
            <p>Mobile phone: {{ parent.mobilePhone }}</p>
        </div>

    </main>
{% endblock %}
