{% extends 'bodyBase.html.twig' %}

{% block title %}Invitation{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/clipboard.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/mobileTable.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="image-center-anchor">
    </div>
    <div class="admin-contentContainer">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Invitation</span>
                {% if sent is defined and sent.completed is defined and sent.completed == true %}
                    <div style="padding: 20px 0">
                        Invitation has been sent successfully to the "{{ sent.address }}" email address
                    </div>
                    <a class="waves-effect waves-light btn" href="{{ path('associate_invite') }}">Send another one</a>
                {% else %}
                    {% include 'includes/invitation.html.twig' with {'invitation' : invitation, 'submitLabel' : 'send'} %}
                {% endif %}
            </div>
        </div>
        {% if sent is not defined %}
        <div class="card">
            <div class="card-content">
                {% verbatim %}
                <div id="clip-board"></div>
                {% endverbatim %}
            </div>
        </div>
            {% include 'includes/other/recentInvitations.twig' with {'route': 'associate_invite'}%}
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if sent is not defined %}
        <script type="text/javascript" src="{{ asset('build/clipboard.js') }}"></script>
        <script>
            Widgets.clipboard.clipboardFun('{{ uniqueAssociateInvitationLink }}');
        </script>
    {% endif %}
{% endblock %}