{% extends 'bodyBase.html.twig' %}

{% block title %}Invitation{% endblock %}

{% block content %}
    <div class="card__container">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Invitation</span>
                    {{ form_start(invitation) }}
                    <div class="invitation-item" >
                        <div class="input-field col s12">
                            {{ form_widget(invitation.fullName) }}
                            {{ form_label(invitation.fullName)}}
                        </div>
                    </div>
                    <div class="invitation-item" >
                        <div class="input-field col s12">
                            {{ form_widget(invitation.email) }}
                            {{ form_label(invitation.email) }}
                        </div>
                    </div>
                    <div class="invitation-buttonWrap">
                        {{ form_widget(invitation.submit, { 'attr': {'style': 'background-color:#3ab54a'} }) }}
                    </div>
                    {{ form_end(invitation) }}
                <div class="invitation-messageContainer">
                    <div id="flash-messages">
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-error">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}