{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

<div class="login-container">
    <div class="login-logoContainer">
        {% set configuration = getConfiguration() %}
        {% if configuration.mainLogo is not null %}
            <img style="max-width:100%; max-height: 100px" src="{{ configuration.mainLogo|downloadUrlParser }}" />
        {% else%}
            <img style="max-width:100%; max-height: 100px" src="{{ asset('assets/images/plum_tree_logo.png') }}" />
        {% endif %}
    </div>

    <div class="login-title">
        Login
    </div>
    <div class="login-inputContainer">
        <form action="{{ path('login') }}" method="post">
        <div class="login-item">
            <div class="input-field col s12">
                <label for="username">E-mail</label>
                <input class="validate" type="text" id="username" name="_username" value="{{ last_username }}"/>
            </div>
        </div>    
        <div class="login-item">    
            <div class="input-field col s12">
                <label for="password">Password:</label>
                <input class="validate" type="password" id="password" name="_password"/>
            </div>
        </div>
    </div>
    <div id="resetPassword" style="margin: auto">
        Forgot your password?
        <a href="{{ path('forgot_password') }}">Click here</a>
    </div>
    {#
        If you want to control the URL the user
        is redirected to on success (more details below)     #}
    <input type="hidden" name="_target_path" value="http://localhost:8080" />
    <div class="login-buttonWrap">
        <button class="waves-effect waves-light btn" style="background-color:#3ab54a" type="submit">Login</button>
    </div>
</form>
    <div class="login-errorMessageContainer">
        {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div id="flash-messages">
    {% for message in app.flashes('error') %}
        <div class="error__block">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="success__block">
            {{ message }}
        </div>
    {% endfor %}
</div>
    </div>
</div>

{% endblock %}
