{% block menuItems %}
    {% set currentRoute = app.request.get('_route') %}
    {% set allRoutes = getMenu() %}
    <div class="sidebar-menu">
    {% if is_granted('ROLE_ADMIN') %}
        <div class="sidebar-item sidebar__sectionLabel">
            Admin 
        </div>
        {% for route in allRoutes.adminRoutes %}
            <div onclick="goToRoute('{{ path(route.route) }}')" class="sidebar-item
                {% if currentRoute == route.route or ((route.subRoute is defined and not null) and currentRoute in route.subRoute) %}sidebar--active{% endif %}"
            >
                <i class="material-icons materialDesignIcons">{{ route.icon }}</i>
                <a href="#">{{ route.label }}</a>
            </div>
        {% endfor %}
    {% endif %}
    {% if (app.user.associate is not null) and (is_granted('ROLE_USER')) %}
        <div class="sidebar-item sidebar__sectionLabel">
            Associate
        </div>
        {% for route in allRoutes.associateRoutes %}
            <div onclick="goToRoute('{{ path(route.route) }}')" class="sidebar-item {% if currentRoute == route.route %}sidebar--active{% endif %}">
                <i class="material-icons materialDesignIcons">{{ route.icon }}</i>
                <a href="#">{{ route.label }}</a>
            </div>
        {% endfor %}
    {% endif %}
        {% set configuration = getConfiguration() %}
        {% if configuration.termsOfServices is not null  %}
            <div class="sidebar-item" onclick="goToRoute('{{ configuration.termsOfServices|downloadUrlParser }}')" >
                <i class="material-icons materialDesignIcons">
                    save_alt
                </i>
                <a href="{{ configuration.termsOfServices|downloadUrlParser }}">Download Terms of service</a>
            </div>
        {% endif %}
        <div onclick="goToRoute('{{ logout_path() }}')" class="sidebar-itemLast sidebar-item">
            <i class="material-icons materialDesignIcons">exit_to_app</i>
            <a href="{{ logout_path() }}">{{ 'Logout' }}</a>
        </div>
    </div>

    <script>
        function goToRoute(path) {
            window.location.href = path;
        }
    </script>
{% endblock %}