{% block menuItems %}
    {% set currentRoute = app.request.get('_route') %}
    {% set allRoutes = getMenu() %}
    {% if is_granted('ROLE_ADMIN') %}
    <div class="sidebar-menu">
        <div class="sidebar-item sidebar__sectionLabel">
            Admin 
        </div>
        {% for route in allRoutes.adminRoutes %}
            <div class="sidebar-item {% if currentRoute == route.route %}sidebar--active{% endif %}">
                <a href="{{ path(route.route) }}">{{ route.label }}</a>
            </div>
        {% endfor %}
    {% endif %}
    {% if is_granted('ROLE_USER') %}
        <div class="sidebar-item sidebar__sectionLabel">
            Associate
        </div>
        {% for route in allRoutes.associateRoutes %}
            <div class="sidebar-item {% if currentRoute == route.route %}sidebar--active{% endif %}">
                <a href="{{ path(route.route) }}">{{ route.label }}</a>
            </div>
        {% endfor %}
    {% endif %}
        <div class="sidebar-item">
            {% set configuration = getConfiguration() %}
            {% if configuration.termsOfServices is not null  %}
                <a href="{{ configuration.termsOfServices|downloadUrlParser }}">Download Terms of service</a>
            {% endif %}
        </div>
        <div class="sidebar-itemLast">
            <a href="{{ logout_path() }}">{{ 'Logout' }}</a>
        </div>

    </div>
{% endblock %}