{% extends 'bodyBase.html.twig' %}

{% block title %}User details{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/userSearch.css') }}" rel="stylesheet">
    <link href="{{ asset('build/confirmation.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="admin-contentContainer">
        <div class="card">
            <div class="card-content">
                <div id="flash-messages">
                    {% for message in app.flashes('error') %}
                        <div class="error__block">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('success') %}
                        <div class="success__block">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <div class="userDetails__mainContainer">
                    {{ form_start(form, {'attr': {'style': 'display:none'}}) }}
                        {{ form_widget(form.associateParentId) }}
                        {{ form_widget(form.associateId) }}
                        {{ form_widget(form.deleteAssociateId) }}
                    {{ form_end(form) }}
                    <div class="userDetails__container__mainInfo">
                        <span class="card-title addBottom userDetailsTitle">Associate details</span>
                        <hr class="separation__line">
                        <div class="userDetails__container">
                            {% include 'includes/other/associateDetails.twig' with {'associate': associate, 'deleteAssociate' : true} %}
                        </div>
                    </div>
                    {% if associate.ParentId != -1 %}
                    <div class="userDetails__container__parentInfo">
                        <div class="userDetails_parentTitleContainer addBottom userDetailsTitle">
                            <span class="card-title">Sponsor details</span>
                            <a href="{{ path('user_search_details', {id : associate.getParentId}) }}" class="btn">Inspect</a>
                        </div>
                        <hr class="separation__line">
                        <div class="userDetails__container">
                            {% include 'includes/other/associateDetails.twig' with {'associate': associate.parent, 'changeParent': 1 } %}
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div id="myModal" class="modal">
                    <div class="modal-content userSearch">
                        <a id="closeBtn" class="styles_closeButton__20ID4">
                            <svg class="styles_closeIcon__1QwbI close" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 36 36">
                                <path d="M28.5 9.62L26.38 7.5 18 15.88 9.62 7.5 7.5 9.62 15.88 18 7.5 26.38l2.12 2.12L18 20.12l8.38 8.38 2.12-2.12L20.12 18z">
                                </path>
                            </svg>
                        </a>
                        <div class="modal-header">
                            Choose new parent
                        </div>
                        <div class="modal-body">
                            {% verbatim %}
                                <section id="user-search">
                                </section>
                            {% endverbatim %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Business Shape</span>
                {% include 'includes/other/businessShape.html.twig' %}
                <div class="adminBusinessShape__buttonContainer">
                    <a class="waves-effect waves-light btn" href="{{ path('csv') }}" target="_blank">Download CSV</a>
                </div>
            </div>
        </div>
        {% include 'includes/other/recentInvitations.twig' with {'route': 'user_search_details', 'associateId': associate.id} %}
        {% verbatim %}
            <section id="confirmation">
            </section>
        {% endverbatim %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/confirmation.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/userSearch.js') }}"></script>
    {% if associate.ParentId != -1 %}
        <script src="{{ asset('assets/js/modal.js') }}"></script>
    {% endif %}
        <script>
            const deleteBtn = document.getElementById('deleteBtn');
            const currentAssociateId = '{{ associate.id }}';
            const form = document.querySelector('form');
            const deleteAssociateId = document.getElementById('associate_modification_deleteAssociateId');
            const associateParentIdField = document.getElementById('associate_modification_associateParentId');
            const associateIdField = document.getElementById('associate_modification_associateId');
            deleteAssociateId.value = null;
            associateParentIdField.value = null;
            associateIdField.value = null;

            deleteBtn.onclick = () => {
                const confirm = {
                    display: 'block',
                    message:'Are you sure you want to delete ' + '{{ associate.fullName }}' + '?'
                };
                const yesClickFn = () => {
                    deleteAssociateId.value = currentAssociateId;
                    form.submit();
                };
                Widgets.confirmation.confirmationFun('#confirmation', confirm, yesClickFn);
            };

            const mainAction = {
                fun: (id) => {
                    associateParentIdField.value = id;
                    associateIdField.value = currentAssociateId;
                    form.submit();
                },
                confirm: {
                    message: (associateName) => {
                        return 'Are you sure want to change '
                            + '{{ associate.fullName }}' + ' parent to ' + associateName + '?';
                    }
                }
            };
            Widgets.userSearch.userSearchFun('#user-search', mainAction, 'Choose');
        </script>
{% endblock %}