{% extends 'bodyBase.html.twig' %}

{% block title %}Change Content{% endblock %}

{% block content %}
    <div class="card__container">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Change Content</span>
                <div id="flash-messages">
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-error">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>

                <main id="main labelFormFix">
                    {{ form_start(form) }}
                    <div class="input-field">
                        {{ form_label(form.mainLogo) }}
                        {{ form_widget(form.mainLogo) }}
                        {% include 'includes/errorBlock.html.twig' with { field: form.mainLogo } %}
                    </div>
                    <div class="input-field">
                        {{ form_label(form.termsOfServices) }}
                        {{ form_widget(form.termsOfServices) }}
                        {% include 'includes/errorBlock.html.twig' with { field: form.termsOfServices } %}
                    </div>
                    <div class="input-field">
                        {{ form_label(form.Submit) }}
                        {{ form_widget(form.Submit) }}
                    </div>
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </main>
            </div>
        </div>
    </div>
{% endblock %}
