{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <main>
        {% if logo is not null %}
         <img style="max-width: 100px; max-height: 100px" src="{{ logo|downloadUrlParser }}" />
            {% else%}
                <img style="max-width: 100px; max-height: 100px"
                     src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" />
        {% endif %}

        <a href="{{ path('csv') }}" target="_blank"><button>Download CSV</button></a>

        <ul>
        {% for key, associateCount in associatesInLevels %}
            <li style="list-style-type:none;">Level {{ key }}: <strong>{{ associateCount }}</strong></li>
        {% endfor %}

        {% if profilePicture is not null %}
            <img style="max-width: 200px; max-height: 200px" src="{{ profilePicture|downloadUrlParser }}" />
        {% else%}
            <img style="max-width: 100px; max-height: 100px"
                 src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" />
        {% endif %}
        </ul>
    </main>

{% endblock %}
