{% extends 'bodyBase.html.twig' %}

{% block title %}Admin{% endblock %}

{% set maxLevel = max(associatesInLevels) %}

{% block content %}
    <div class="admin-contentContainer">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Business Shape</span>
                <div class="associate-levelConainer">
                    <ul class="associate-levelBarList">
                        {% for key, associateCount in associatesInLevels %}
                            <li class="associate-levelBarListItem" style="list-style-type:none;">
                                <div style="display: flex; justify-content: center; align-items: center">
                                    Level {{ key }}: <strong style="margin-left: 4px; font-size: 1.1em">{{ associateCount }}</strong>
                                </div>
                                <div class="associate-levelBar" style="width:{{ associateCount*100/maxLevel }}%; min-height: 24px">
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="adminBusinessShape__buttonContainer">
                    <a class="waves-effect waves-light btn" href="{{ path('csv') }}" target="_blank">Download CSV</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Associate Explorer</span>
                <div>
                    <div id="rootExplorer"
                         data-source="/admin/api/explorer"
                         data-details="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function hideViewer(node) {
            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");
            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
                if (node) {
                    node.id = 'no';
                    node.innerHTML = 'Downline explorer not supported in Internet explorer.';
                }
            }
        }
        var node = document.querySelector('div#rootExplorer');
        hideViewer(node);
    </script>
    <script src="{{ asset('assets/js/explorer_main.js') }}" async></script>
{% endblock %}
