{% extends 'bodyBase.html.twig' %}

{% block title %}Admin{% endblock %}

{% set maxLevel = max(associatesInLevels) %}

{% block content %}
    <div class="admin-contentContainer">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Business Shape</span>
                <div class="associate-levelConainer">
                    <ul class="associate-levelBarList">
                        {% for key, associateCount in associatesInLevels %}
                            <li class="associate-levelBarListItem" style="list-style-type:none;">
                                <div class="associate-levelBar" style="width:{{ associateCount*100/maxLevel }}%">
                                    Level {{ key }}: <strong>{{ associateCount }}</strong>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="adminBusinessShape__buttonContainer">
                    <a class="waves-effect waves-light btn" href="{{ path('csv') }}" target="_blank">Download CSV</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Associate Explorer</span>
                <div>
                    <div id="rootExplorer"
                         data-source="/admin/api/explorer"
                         data-details="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('assets/js/explorer_runtime_main.js') }}" async></script>
    <script src="{{ asset('assets/js/explorer_2.js') }}" async></script>
    <script src="{{ asset('assets/js/explorer_main.js') }}" async></script>

{% endblock %}
