{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% set maxLevel = max(associatesInLevels) %}

{% block body %}

 {{ include('includes/sidebar.html.twig') }}

    <main>
        <div class="admin-mainContainer">
        
            <div class="admin-levelContainer">
            <div class="associate-levelConainer">
                <ul class="associate-levelBarList">
                    {% for key, associateCount in associatesInLevels %}
                <li class="associate-levelBarListItem" style="list-style-type:none;">
                    <div class="associate-levelBar" style="width:{{ associateCount*100/maxLevel }}%">
                        Level {{ key }}: <strong>{{ associateCount }}</strong>
                    </div>
                </li>
                    {% endfor %}
                </ul>
            </div>
            </div>
        <a href="{{ path('csv') }}" target="_blank"><button>Download CSV</button></a>
        <ul>
        {% for key, associateCount in associatesInLevels %}
            <li style="list-style-type:none;">Level {{ key }}: <strong>{{ associateCount }}</strong></li>
        {% endfor %}
        </ul>
            
        </div>
    </main>

{% endblock %}
