<div class="invitation-messageContainer">
    <div id="flash-messages">
        {% for message in app.flashes('error') %}
            <div class="error__block">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="success__block">
                {{ message }}
            </div>
        {% endfor %}
    </div>
</div>
{{ form_start(invitation) }}
<div class="invitation-item" >
    <div class="input-field col s12">
        {{ form_widget(invitation.fullName) }}
        {{ form_label(invitation.fullName)}}
        {% include 'includes/errorBlock.html.twig' with { field: invitation.fullName } %}
    </div>
</div>
<div class="invitation-item" >
    <div class="input-field col s12">
        {{ form_widget(invitation.email) }}
        {{ form_label(invitation.email) }}
        {% include 'includes/errorBlock.html.twig' with { field: invitation.email } %}
    </div>
</div>
<div class="invitation-buttonWrap">
    {{ form_widget(invitation.submit, { 'attr': {'style': 'background-color:#3ab54a'} }) }}
</div>
{{ form_end(invitation) }}
