<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
            <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        {% block stylesheets %}
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <link href="{{ asset('assets/css/explorer_main.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/admin.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/sidebar.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/associate.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/header.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/invitation.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/login.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/hamburgers.css') }}" rel="stylesheet">
            <link href="{{ asset('build/app.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <script src="{{ asset('assets/js/explorer_runtime_main.js') }}" async></script>
            <script src="{{ asset('assets/js/explorer_2.js') }}" async></script>
            <script src="{{ asset('assets/js/usersearch.js') }}" async></script>
            <script src="{{ asset('assets/js/sidebar.js') }}" async></script>
        {% endblock %}
    </body>
</html>
