<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <script src="https://kit.fontawesome.com/8f7af2e175.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <link href="{{ asset('assets/css/explorer_main.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/admin.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/sidebar.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/associate.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/header.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/invitation.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/login.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/hamburgers.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/email_template.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/image_gallery.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/quill.snow.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
            <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=#{property?._id}&product=custom-share-buttons"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
            <script src="{{ asset('assets/js/explorer_runtime_main.js') }}" async></script>
            <script src="{{ asset('assets/js/explorer_2.js') }}" async></script>
            <script src="{{ asset('assets/js/sidebar.js') }}" async></script>
        {% endblock %}
    </body>
</html>
