{% extends 'bodyBase.html.twig' %}

{% block title %}Update Profile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/dragNdrop.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="admin-contentContainer">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Update Profile</span>
                {{ form_start(updateProfile) }}
                <div class="input-field col s12 registration__input--forceBorder">
                    {{ form_label(updateProfile.associate.fullName) }}
                    {{ form_widget(updateProfile.associate.fullName) }}
                    {% include 'includes/errorBlock.html.twig' with { field: updateProfile.associate.fullName } %}
                </div>
                <div class="input-field col s12 registration__input--forceBorder">
                    {{ form_label(updateProfile.email) }}
                    {{ form_widget(updateProfile.email) }}
                    {% include 'includes/errorBlock.html.twig' with { field: updateProfile.email } %}
                </div>
                <div class="input-field col s12 registration__input--forceBorder">
                    {{ form_label(updateProfile.oldPassword) }}
                    {{ form_widget(updateProfile.oldPassword) }}
                    {% include 'includes/errorBlock.html.twig' with { field: updateProfile.oldPassword } %}
                </div>
                <div class="input-field col s12 registration__input--forceBorder">
                    {{ form_label(updateProfile.newPassword.first) }}
                    {{ form_widget(updateProfile.newPassword.first) }}
                    {% include 'includes/errorBlock.html.twig' with { field: updateProfile.newPassword.first } %}
                </div>
                <div class="input-field col s12 registration__input--forceBorder">
                    {{ form_label(updateProfile.newPassword.second) }}
                    {{ form_widget(updateProfile.newPassword.second) }}
                    {% include 'includes/errorBlock.html.twig' with { field: updateProfile.newPassword.second } %}
                </div>
                <div class="input-field col s12 registration__input--forceBorder">
                    {{ form_label(updateProfile.associate.address) }}
                    {{ form_widget(updateProfile.associate.address) }}
                    {% include 'includes/errorBlock.html.twig' with { field: updateProfile.associate.address } %}
                </div>
                <div class="input-field col s12 registration__input--forceBorder">
                    {{ form_label(updateProfile.associate.address2) }}
                    {{ form_widget(updateProfile.associate.address2) }}
                    {% include 'includes/errorBlock.html.twig' with { field: updateProfile.associate.address2 } %}
                </div>
                <div class="input-field col s12 registration__input--forceBorder">
                    {{ form_label(updateProfile.associate.city) }}
                    {{ form_widget(updateProfile.associate.city) }}
                    {% include 'includes/errorBlock.html.twig' with { field: updateProfile.associate.city } %}
                </div>
                <div class="input-field col s12 registration__input--forceBorder">
                    {{ form_label(updateProfile.associate.postcode) }}
                    {{ form_widget(updateProfile.associate.postcode) }}
                    {% include 'includes/errorBlock.html.twig' with { field: updateProfile.associate.postcode } %}
                </div>
                <div class="input-field col s12 registration__input--forceSelectDisplay registration__input--forceBorder" >
                    {{ form_label(updateProfile.associate.country) }}
                    {{ form_widget(updateProfile.associate.country) }}
                    {% include 'includes/errorBlock.html.twig' with { field: updateProfile.associate.country } %}
                </div>
                <div class="input-field col s12 registration__input--forceBorder">
                    {{ form_label(updateProfile.associate.mobilePhone) }}
                    {{ form_widget(updateProfile.associate.mobilePhone) }}
                    {% include 'includes/errorBlock.html.twig' with { field: updateProfile.associate.mobilePhone } %}
                </div>
                <div class="input-field col s12 registration__input--forceBorder">
                    {{ form_label(updateProfile.associate.homePhone) }}
                    {{ form_widget(updateProfile.associate.homePhone) }}
                    {% include 'includes/errorBlock.html.twig' with { field: updateProfile.associate.homePhone } %}
                </div>
                <div class="input-field col s12">
                    {{ form_label(updateProfile.associate.profilePicture) }}
                    {{ form_widget(updateProfile.associate.profilePicture, {'attr' : {'onchange' : 'readUrl'}}) }}
                    <div id="profilePicturePreview">
                        <img src="">
                    </div>
                    {% verbatim %}
                        <div id="DragAndDrop">
                        </div>
                    {% endverbatim %}
                    <div id="dragAndDropError" class="error__block" style="margin-top: 0.25em">
                    </div>
                    <div id="submitUploadErrorBlock">
                        {% include 'includes/errorBlock.html.twig' with { field: updateProfile.associate.profilePicture } %}
                    </div>
                </div>
                <div class="input-field">
                    <label style="position: unset!important;">
                        {{ form_widget(updateProfile.associate.agreedToEmailUpdates) }}
                        <span>I agree to receive email updates</span>
                    </label>
                </div>
                <div class="input-field">
                    <label style="position: unset!important;">
                        {{ form_widget(updateProfile.associate.agreedToTextMessageUpdates) }}
                        <span>I agree to receive text message updates</span>
                    </label>
                </div>
                <div class="input-field">
                    <label style="position: unset!important;" class="required">
                        {{ form_widget(updateProfile.associate.agreedToTermsOfService) }}
                        <span>I agree to the terms of service</span>
                    </label>
                </div>
                <div class="profile-buttonWrap">
                    {{ form_row(updateProfile.associate.submit, { 'attr': {'style': 'background-color:#3ab54a'} }) }}
                </div>
                {{ form_end(updateProfile, {'render_rest': false}) }}
                <div class="profile-errorMessageContainer">
                    <div id="flash-messages">
                        {% for message in app.flashes('error') %}
                            <div class="error__block">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('success') %}
                            <div class="success__block">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/dragNdrop.js') }}"></script>
    <script src="{{ asset('assets/js/onChangeDrangNDrop.js') }}"></script>
    <script>
        const profilePicturePreview = document.getElementById('profilePicturePreview');
        const dragAndDropElement = document.querySelector('.profile-image-upload-box');
        const originalProfilePictureUpload = document.getElementById('user_update_associate_profilePicture');
        const dragAndDropError = document.getElementById('dragAndDropError');
        const submitUploadErrorBlock = document.getElementById('submitUploadErrorBlock');
        dragNdrop.instantiateSelectors(profilePicturePreview, originalProfilePictureUpload, dragAndDropError, submitUploadErrorBlock);
        onChangeEvent();
    </script>
{% endblock %}
